.container {
  margin-left: 0;
    display: grid;
    grid-template-areas:
   ' a b '
   ' a c '
   ' a d ';
  }

  
  

  .item1 {
    display: grid;
    border: 1px solid #181818;
    font-size: 1.2rem;
    font-weight: bold;
    grid-area: a;
    width: 200px;
    height: 1080px;
  }
  
  .item2 {
    display: grid;

    border: 1px solid #181818;
    font-weight: bold;
    grid-area: b;
    width: 1600px;
    height: 100px;

  }
  .item3 {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-weight: bold;
    grid-area: c;
    width: 1600px;
    height: 880px;

  }
  .item4 {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-weight: bold;
    grid-area: d;
    width: 1600px;
    height: 100px;
  }

 
  
 
  

  