.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: repeat(4, 200px);
  grid-gap: 1rem;
  grid-template-areas:
    'a a a'
    'b c c'
    'b d d'
    'e e e';
}

.header {
    grid-area: a;
    background-color: #d7bee2
}
 
.nav {
    grid-area: c;
    background-color: #a9c7d8
}
 
.section {
    grid-area: b;
    background-color: #c0df9f;
}
 
.aside {
    grid-area: d;
    background-color: #f2e5a6;
}
 
.footer {
    grid-area: e;
    background-color: #e89d9d;

}